.b_logo-en {
    display:block;
    background: url({{ site.baseurl }}/assets/img/logo-fe.png) 10% 0 no-repeat;
    height: 16rem;
}

.b_logo-nl {
    display:block;
    background: url({{ site.baseurl }}/assets/img/logo-nl.png) 10% 0 no-repeat;
    height: 16rem;
}

.b_logo-de {
    display:block;
    background: url({{ site.baseurl }}/assets/img/logo-de.png) 10% 0 no-repeat;
    height: 16rem;
}

.b_logo span { display:none;}

.b_logo-enfast { 
    display:block;
    background: url({{ site.baseurl }}/assets/img/logo-enfast.png) 100% 0 no-repeat;
    height:16rem;
}

.b_title a {
    color:#000!important;
}