// Typography
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=PT+Serif);

body {
    font-size: 1.8em;
}

// basic font styles
h2.b_title, p, ul {
    font-family:'PT Serif', 'Courier New', monospace;
    width: 100%;
    line-height: 1.6 !important;
}

h1 sub {
    font-size: 50%;
    color: white;
    background:grey;
    padding: 0 0.2em;
}

p, li {
    font-family: 'PT Sans';
}

h2.b_title, .content h2 {
    font-size:2.4em;
    text-align: center;
    font-family: 'PT Sans';
}

.content h2 {
    text-align: left;
}


.post h1,  { 
    font-family:'PT Serif', 'Courier New', monospace;

}
    

hr {
    border: 0;
    width:100%;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    align-content: center;
}

footer p {
    text-align: center;
}


