ul.polaroids a:after {
content: attr(title);
}

ul.polaroids a {
  background:#FFFFFF;
  box-shadow:rgba(0, 0, 0, 0.247059) 0 3px 6px;
  color:#333333;
  display:inline;
  float:left;
  /*font-family:'Marker Felt', sans-serif;*/
  font-size:18px;
  margin:0 0 27px 30px;
  padding:10px 10px 15px;
  text-align:center;
  text-decoration:none;
  width:auto;
  width:14em; 
  height: 16em;
  overflow: none;
 
}

ul.polaroids {
    list-style-type: none!important;
}

/* ul.polaroids li { height: 12em;max-width: 12em;border: thin solid red;}*/


ul.polaroids a.small {
    max-width: 100px;
    font-size: .8em;
}


