.carousel-inner .item {
    text-align: center;
    margin: 0 auto;
    padding:0 auto;
}


.carousel-inner .item img {
    display : block;
    margin : auto;
}

ul.polaroids.small li { height: 150px;}
