---
layout: default-en
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
   
  </header>

  <article class="post-content">
  {{ content }}
  </article>

</div>
<hr>
    {% include form-en.html %}
<hr>
<ul class="row polaroids">
    {% for post in site.categories.en %}
       <li class="col-md-2">  
         <a class="thumbnail small" title="{{post.title-attr}}" href="{{ post.url }}">
           <img src="{{ post.thumb }}"></a>
      </li>
     
    {% endfor %}
  </ul>